@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;900&family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
}

.ant-badge.ant-badge-status .ant-badge-status-dot {
    width: 8px !important;
    height: 8px !important;
}
